@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
  
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 1rem;
}
  
.nav-links a {
    text-decoration: none;
    padding: 0.5rem;
    position: relative; 
    font-weight: bold;
    font-size: 12.5px;
}

.nav-links button {
    text-decoration: none;
    padding: 0.5rem;
    position: relative; 
    font-weight: bold;
    font-size: 12.5px;
}
  
.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
    color: #5865F2;
}

.close-icon {
    color: #fff;
}

.close-icon:hover {
    cursor: pointer; 
}
  
.close-icon:hover svg {
    color: #5865F2;
}

.slide-in-right-enter {
    transform: translateX(100%);
}
  
.slide-in-right-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 200ms;
}
  
.slide-in-right-exit {
    transform: translateX(0%);
    opacity: 1;
}
  
.slide-in-right-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: all 200ms;
}

.modal-enter {
    transform: translateX(100%);
    opacity: 0;
}
  
.modal-enter-active {
    transform: translateX(100%);
    opacity: 1;
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
}
  
.modal-exit {
    transform: translateX(100%);
    opacity: 1;
}
  
.modal-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
}

.header-style {
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.lds-dual-ring {
    @apply inline-block w-16 h-16;
  
    &:after {
      @apply content-[''] block w-12 h-12 m-1 rounded-full border-4 border-solid border-purple-800 border-purple-800-transparent animation-spin duration-1200 linear infinite;
    }
}
  
.loading-spinner__overlay {
    @apply h-full w-full absolute top-0 left-0 bg-white bg-opacity-90 flex justify-center items-center;
}
  
  
  